<h1 align ="center">listing all articles</h1>
<div align= "center">
  <%= will_paginate%>
</div>
<%=render partial: 'article', locals: {object: @articles} %>

<div align= "center">
  <%= will_paginate%>
</div>





 