<h1 align= "center">welcome to the page</h1>
<div class ="row">
  <div class= "col md-2 col-md-offset-6 center">
<%= gravatar_for @user %>
  </div>
</div>
<h4 align ="center"><%=@user.username%>'s articles</h4>

<%=render 'articles/article', object:  @user.articles%>