<div class ="container">
	<footer class= footer>
		<small>
			copyright &copy; <a href="https://google.com">complete ruby on rails developer</a>
			by <a href="https://www.facebook.com/kartikey.soni.50">Kartikey soni</a>
		</small>
		<nav>
		<ul>
			<li>
				<%=link_to "about", about_path%>
			</li>
		</ul>
			</nav>
	</footer>
</div>